<div>
	<% artist.artists.items.forEach(function(item) { %>
		<h2>Artist Name: <%=item.name%> </h2>
		<div class="img-container">
</div>


<div>
	<% tracks.forEach(function(track) { %>
		<h2> Top Single Name: <%= track[5].name %></h2> 
		<h3>Popularity Number: <%= track.popularity %> </h3>
		<div class="img-container">
     		<img src="<%= track.album.images[0].url %>">
</div>


    	




    	

<form method="GET" action="/artist">
        <input hidden type="text" name="name" value="<%= item.id %>">
        <button class="btn btn-primary" type="submit">Add to Favorite artist</button>
      </form>


	
</div>
	
<% }) -%>










	<% }) %>
</div>