<h1><%= user.firstname %>'s Favortie Artist's</h1>



<div class="row">
	<div class="col s3">
		<div>
			<img src="<%= user.image %>">
		</div>
		<div>
			<p><strong>Full Name:</strong> <%= user.firstname %> <%= user.lastname %></p>
			<p><strong>User Name:</strong> <%= user.username %></p>
		</div>





		<% tracks.forEach(function(trackid) { %>
		<h2>Single Name: <%=trackid.name%> </h2>
		<h3>Popularity Number: <%= trackid.popularity %> </h3>
		<div class="img-container">
		<img src="<%= trackid.image %>">
		



<% }) -%>
